:root {
  --bs-primary: #0d6efd; /* Bootstrap Primary Color */
  --bs-secondary: #6c757d; /* Bootstrap Secondary Color */
  --bs-success: #198754; /* Bootstrap Success Color */
  --bs-info: #0dcaf0; /* Bootstrap Info Color */
  --bs-warning: #ffc107; /* Bootstrap Warning Color */
  --bs-danger: #dc3545; /* Bootstrap Danger Color */
  --bs-light: #f8f9fa; /* Bootstrap Light Color */
  --bs-dark: #212529; /* Bootstrap Dark Color */
  --bs-transparent: transparent; /* Bootstrap Transparent Color */
}

.is-invalid {
  margin: 0 !important;
}

#calcular,
#borrar {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  .is-invalid {
    box-shadow: 0 0 5px var(--bs-danger);
  }

  #calcular {
    background-color: var(--bs-success) !important;
    color: var(--bs-light);
  }

  #borrar {
    background-color: var(--bs-danger) !important;
    color: var(--bs-light);
  }

  .error {
    color: var(--bs-danger);
    font-weight: bold;
  }

  .valid {
    color: var(--bs-success);
    font-weight: bold;
  }

  .info {
    color: var(--bs-light);
    font-weight: bold;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bs-dark);
    color: var(--bs-light);
  }

  .is-invalid {
    box-shadow: 0 0 10px var(--bs-danger);
  }

  .form-label,
  .form-control,
  input {
    color: var(--bs-light) !important;
  }

  select {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
  }

  #calcular {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark);
    font-weight: bold;
  }

  #borrar {
    background-color: var(--bs-warning) !important;
    color: var(--bs-dark);
    font-weight: bold;
  }

  .error {
    color: var(--bs-danger);
    font-weight: bold;
  }

  .valid {
    color: var(--bs-success);
    font-weight: bold;
  }

  .info {
    color: var(--bs-light);
    font-weight: bold;
  }

  .modal-content {
    background-color: var(--bs-dark);
    color: var(--bs-light);
  }

  .modal-header {
    background-color: var(--bs-dark);
  }

  .modal-footer {
    background-color: var(--bs-dark);
  }

  .btn-close {
    filter: invert(1);
  }
}
