:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-transparent: transparent;
}

#calcular,
#unit,
#borrar,
.is-invalid {
  margin: 0 !important;
}

.is-invalid {
  box-shadow: 0 0 5px var(--bs-danger);
}

.error {
  color: var(--bs-danger);
  font-weight: bold;
}

.valid {
  color: var(--bs-success);
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  body,
  select,
  input {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
  }

  .modal-content,
  .modal-footer,
  .modal-header {
    background-color: var(--bs-light);
  }

  .info {
    color: var(--bs-dark);
  }
}

@media (prefers-color-scheme: dark) {
  body,
  select,
  input {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
  }

  .modal-content,
  .modal-footer,
  .modal-header {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
  }
}
